.bod {
    display: flex;
    justify-content: center;
    align-items: center;

}

.div{
    height: 500px;
    width: 500px;
}

  @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


  .titulo{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 80px;
  }

  .letra{
    font-family: 'VT323', monospace;
    font-size: 25px;
  }
  .tm-social {
    width: 40px;
    height: 40px;
}
.img{
  width: 500px; 
  height: 500px;
  margin-left: 50px;
}